// Angular JS
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js')
script(type='text/javascript', src='lib/angular-leaflet/dist/angular-leaflet-directive.min.js')

// Application Init
script(type='text/javascript', src='/javascripts/app.js')
script(type='text/javascript', src='/javascripts/config.js')

script(type='text/javascript', src='/javascripts/controllers/index.js')
script(type='text/javascript', src='/javascripts/init.js')
