// Angular JS
script(type='text/javascript', src='/lib/angular/angular.js')

// Application Init
script(type='text/javascript', src='/javascripts/app.js')
script(type='text/javascript', src='/javascripts/config.js')

script(type='text/javascript', src='/javascripts/controllers/index.js')
script(type='text/javascript', src='/javascripts/init.js')
