<section data-ng-controller="EventsController" data-ng-init="find()">
  <div class='events well' data-ng-repeat="event in events">
    <a href="{{event.url}}">{{event.title}}</a><br>
    {{event.artists.artist.join(', ')}}<br>
    {{event.venue.name}}<br>
    {{event.venue.city}}<br>
    <span data-ng-pluralize data-count="event.attendance"
      data-when="{'0': 'No buddies interested',
             'one': '1 buddy interested',
             'other': '{} buddies interested'}">
    </span>
  </div>
</section>
